*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: arial;
}
.br{border: 3px solid red;}
.bb{border: 3px solid blue;}
.by{border: 3px solid gold;}
.bk{border: 3px solid black;}
.bg{border: 3px solid green;}

.navbar{
    background-color: black !important;
    border-bottom: 1px solid gray;
}
.nav-link:hover{
    color: rgb(68, 144, 210) !important;
}

/* -------------first section------------------- */

.first-section{
    min-height: 700px;
    background-color: black;
}
.first{
    min-height: 600px;
}

/* --------------second section------------------ */

.second-section{
    min-height: 100vh;
    background-color: black;
}
.second-left{
    min-height: auto !important;
    background-color: black;
}
.second-right{
    min-height: 100vh;
}
.butt button{
    padding: 10px 30px;
    background: none;
    color: white;
    border: 1px solid white;
    transition: 1s all linear;

}
.butt button:hover{
    background-color: white;
    color: black;
    transition: 1s all linear;
}


@media only screen and (max-width:600px) {
    .first h1{
        font-size: 50px !important;
        line-height: 80px !important;
    }
    
    .second-right img{
        object-fit: cover !important;
    }
    
}